:root[data-theme="penguin-light"] {

    --bg-main: #eae7d9;
    --bg-surface: #dadccd;
    --bg-elevated: #e9e9e9;

    --text-primary: #121212;
    --text-secondary: #4a4a4a;
    --text-muted: #777777;

    --border-default: #dddddd;
    --border-light: #e6e6e6;

    --input-border: #333333;
    --input-text: var(--text-primary);
    --input-placeholder: #777777;

    --btn-secondary-bg: var(--bg-surface);
    --btn-secondary-text: var(--color-primary);
    --btn-secondary-border: var(--color-accent);
    --btn-secondary-hover-border: var(--color-accent);

    --hover-overlay: rgba(0, 0, 0, 0.04);
    --active-overlay: rgba(0, 0, 0, 0.08);
}