:root[data-theme="debian"] {

    --color-accent: #d70a53;

    --bg-main: #121212;
    --bg-surface: #1a1a1a;
    --bg-elevated: #242424;

    --text-primary: #ffffff;
    --text-secondary: #bdbdbd;

    --border-default: #333333;

    --link-color: #d70a53;
}