:root[data-theme="ubuntu"] {

    --color-accent: #e95420;

    --bg-main: #111111;
    --bg-surface: #1b1b1b;
    --bg-elevated: #262626;

    --text-primary: #ffffff;
    --text-secondary: #c9c9c9;

    --border-default: #333333;

    --link-color: #e95420;
}